.container{
    position: absolute;
    z-index: 10;
    background-color: #fff;
    min-width: 250px;
    height: 100%;
    top: 0;
    left: 0;
}
.title{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text{
    font-size: 1.3rem;
}

.navLink{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    width: 100%;
}

.navLinkUnselected{
    color: pink;
}

.menuElem{
    width: 100%;
    height: 30px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menuElemContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    flex-direction: column;
}
.menuElemText{
    font-size: 1.2rem;
}
.exitToApp{
    position: absolute;
    bottom: 0;
}
.menuElemIcon{
    width: 20px;
    height: 20px;
}